@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 400;
}

h4 {
    margin-bottom: 1rem;
    font-weight: 300;
}

.sizes {
    font-size: small;
    color: #b0b0b0;
}

.logo {
    font-family: 'Special Elite', cursive;
}

.grid-performance {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.6rem;

    border: solid 1px #d8d8d8;
    padding: 5px;
}

.grid-performance div {
    font-size: 0.8rem;
    text-align: left;
    font-weight: 500;
}

@media (max-width: 400px) {
    .grid-performance {
        grid-template-columns: 1fr;
    }
}
